{
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost; Port=5432; Database=Moonlighting; User Id=moonlighting-user; Password=moonlighting-password; TimeZone=UTC"
    },
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
        "Default": "Warning"
        }
    },
    "NHibernate:UseCache": "True",
    "Authentication:Facebook:AppId": "",
    "Authentication:Facebook:AppSecret": "",
    "Authentication:Google:ClientId": "",
    "Authentication:Google:ClientSecret": "",
    "Authentication:Twitter:ConsumerKey": "",
    "Authentication:Twitter:ConsumerSecret": ""
}
